/* --------- Skeleton overides --------- */

body{ 
	background-color: #f5f5f0;
	line-height: 1.2;
}
h1 { 
	font-size: 3.0rem; line-height: 1.2;  letter-spacing: -.1rem; padding-top: 1rem;
}

button {
	text-transform: none;
	font-weight: bold;
	background-color:greenyellow;
}

input[type=text] {
	width: 7em;
	margin: 1em;
}

/* --------- Site CSS --------- */

main {
    padding: 2rem;
    background-color: #FFF; 
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border: 0px solid #000000;	
}
span {
	display: inline-block;
}
p#googleMaps{
	display: none;
}